[req]
default_bits              = 2048
req_extensions            = extension_requirements
distinguished_name        = dn_requirements
prompt                    = no

[extension_requirements]
basicConstraints          = CA:FALSE
keyUsage                  = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName            = @sans_list

[dn_requirements]
countryName               = US 
stateOrProvinceName       = Pennsylvania
localityName              = Pittsburgh
0.organizationName        = Golden
organizationalUnitName    = Security
commonName                = aziz.foobar.com
emailAddress              = rizaziz2002@gmail.com

[sans_list]
IP.1                      = 34.107.174.173
DNS.1                     = aziz.foobar.com
DNS.2                     = dev.foobar.com